.menu .headline-1 h2 {
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.menu .list-food .image {
    width: 85%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px auto;
    border: 1px solid rgba(255, 255, 255, 0.412);
    object-fit: cover;
}
.menu .list-food .scale img {
    transition: 0.5s;
    height: 300px;
}
